.full{
    background-color: antiquewhite;
    justify-content:none;
}
.name{
    margin-left: 250%;
    color: blue;
}
.dash{
    font-size: 10px;
    margin-top: 15%;
    margin-left: 100%;
}
.icon1{
    width:40px;
    height:40px;
    margin-top: 5%;
    margin-left: 50%;
}
.icon2{
    width:40px;
    height:40px;
    margin-top: 5%;
}
.dp{
    width: 60px;
    height:60px;
    margin-right: -70%;
}
