.navbar-portal {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: #17a2ff;
    width:1260px;
    margin-left: 7.8%; */
    background-color: white;
    color: #17a2ff;
    margin-left: 310px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-name {
    font-size: 20px;
    margin-right: 20px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }
  
  .navbar-profile {
    width: 40px;
    height: 40px;
    background-color: #fff;
    padding: 3px;
    margin-right: 20px;
  }
  .dash{
    font-size: 10px;
    margin-top: 25%;
    margin-left: -67%;
    color: grey;
  }
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
    .navbar-right {
      margin-top: 10px;
    }
  }
  

  