.chat-title{
    margin: 3%;
}
.top-img img{
    margin-left: 35%;
    margin-top: 10%;
    width: 100px;
}
.prg-title{
    margin-left: 30%;
}
.prg-subtitle{
    margin-top: -6%;
    margin-left: 27%;
    color:grey;
}
.btns{
    margin-left: 8%;
}