/* Footer.css */

/* Footer styles */
.hs-image-widget{
    size: 15px;
    margin-top: -250px;
    margin-left: -250px;
}
.footer-social-tray{
    margin-top: -290px;
    margin-left: -190px;
}
.footer {
    padding: 1.5rem 0;
    background-color: #ffffff;
  }
  
  .footer-logo-image {
    max-width: 100px;
    height: auto;
  }
  
  .footer-social-icon {
    width: 32px;
    height: 32px;
    margin: 5px;
    margin-top: -60px;
  }
  
  /* Footer menu styles */
  .footer-menu-title {
    font-weight: bold;
    font-size: 22px;
    margin-top: -90px;
  }
  
  
  .footer-menu-item {
    color:black;
    padding: -10px;
    margin-bottom: -100px;
    margin-top: -270px;
    font-size: 15px;
    text-align: left;
  }
  .copyrights>p{
    margin-top: -270px;
    margin-left:-1000px;
    font-size: 15px;
  }
  /* Responsive adjustments */
  @media (max-width: 767px) {
    .col-md-3 {
      margin-bottom: 1px;
    }
  }
  