/* Footer.css */

/* Footer styles */
.footer-img{
  margin-left: -4%;
}
.footer-share{
  margin-top: 12%;
  margin-left: -12%;
  
}
.scl{
  margin: 0.5%;
  padding:2.5px;
}
.footer2-sub-h{
  margin-top: 4%;
  margin-left: 2%;
  margin-right: -2%;
}
.footer2-h{
  font-size: 20px;
}
.links{
  font-size: 17px;
}
.footer2-p>a{
  font-size: 800px;
}
.MailImg{
  margin-left: -20px;
}
  /* Responsive adjustments */
  @media (max-width: 767px) {
    .col-md-3 {
      margin-bottom: 1px;
    }
    .footer-share{
      margin-top: 50%;
    }
  }
  