* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap");
.find-live > .width-line-space {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 30%;
  max-height: 5px;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Abhaya Libre", serif;
}

nav div img {
  width: 15vw;
}

nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 1vw !important;
  white-space: nowrap;
}

nav ul li {
  margin: 0.8vw 2vw;
  font-size: 1.4vw;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 800;
}

/* nav .nav-login-btn {
  margin-top: 2.2vw;
  margin-right: 4vw;
} */

nav .nav-login-btn a {
  text-decoration: none;
  background-color: orange;
  color: white;
  padding: 0.4vw 3vw;
  border-radius: 0.5vw;
  font-size: 1.2vw;
}

nav ul li {
  margin: 1vw 2vw;
  font-size: 1.7vw;
}
.active {
  color: blue !important;
}

.f-template {
  width: 100%;
  padding: 1vw;
}

.f-template img {
  width: 100%;
}

.find-live {
  text-align: center;
  font-size: 1.5vw;
  font-weight: 700;
  margin-top: 1vw;
  font-family: "Abhaya Libre", serif;
}

.find-live div {
  margin: 0.8vw;
  padding: 0vw 20vw;
  line-height: 2.3vw;
}

.find-live div a {
  text-decoration: none;
  color: black;
}

.find-live-btn a {
  background-color: #ff8a00;
  color: black;
  padding: 0.5vw 2vw;
  font-size: 1.2vw;
  border-radius: 0.5vw;
}

.width-line {
  width: 45vw;
  height: 0.3vw;
  background-color: #ff9500;
}

.our-programs {
  margin-top: 3.5vw;
}

.our-programs-h {
  text-align: center;
  font-size: 2vw;
  color: #002144;
  font-family: "Acme", sans-serif;
  font-weight: 600;
}

.our-programs-div {
  display: flex;
  justify-content: space-around;
  margin-top: 3vw;
}

.our-programs-sub-div {
  margin: 2vw;
  position: relative;
  width: 80%;
  margin-left: 9%;
}

.our-programs-round {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  background-color: #009eff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.our-programs-text {
  background: rgba(0, 158, 255, 0.21);
  border-radius: 1vw;
  padding: 1vw;
  margin-top: 5vw;
  padding-top: 5vw;
  font-family: "Inter", sans-serif;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.our-programs-text-h {
  font-size: 2vw;
  font-weight: 900;
}

.our-programs-subtext {
  font-size: 1.2vw;
}

.features {
  margin-top: 4vw;
  font-family: "Inter", sans-serif;
}

.features-h {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2vw;
  font-weight: 800;
}

.features-sub {
  display: flex;
  justify-content: space-around;
  margin-top: 4vw;
}

.features-img {
  overflow: hidden;
  width: 37vw;
}

.features-img img {
  width: 100%;
  border-radius: 1.5vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.features-content-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2.5vw;
  width: 37vw;
}

.features-content-2 div img {
  width: 5vw;
}

.features-content-img {
  background-color: #ff95014a;
  border-radius: 0.5vw;
  padding: 0.5vw 1vw;
  box-shadow: 0px 0.4vw 0.4vw #00000040;
}

.features-content-text {
  width: 11vw;
  padding: 0.5vw;
  text-align: center;
}

.features-content-text a {
  text-decoration: none;
  color: #007bff;
  font-size: 1.5vw;
  font-weight: 600;
}

/* Popular Courses  */

.popular {
  margin: 2vw;
  margin-top: 4vw;
}

.popular-head {
  display: flex;
  justify-content: space-between;
}

.popular-h {
  font-family: "Inter", sans-serif;
  font-size: 2vw;
  font-weight: 800;
}

.popular-btn {
  display: flex;
}

.popular-btn div a {
  text-decoration: none;
  color: black;
  background-color: #d9d9d9;
  padding: 0.5vw 1vw;
  margin: 0.6vw;
  border-radius: 0.5vw;
  font-size: 1vw;
}

.popular-btn-active {
  font-size: 1.2vw !important;
  padding: 0.4vw 2vw !important;
}

.popular-div {
  display: flex;
  justify-content: space-around;
  margin-top: 4vw;
}

.popular-sub-div {
  display: block !important;
}

.popular-sub-div div img {
  width: 15vw;
  border: 0.2vw solid black;
  border-radius: 0.7vw;
}
.popular-sub-div div {
  text-align: center;
  width: 15vw;
}

.popular-sub-div div a {
  text-decoration: none;
  font-size: 2.5vw;
  color: #007bff;
}

/* OUR BRAND */

.brand {
  display: flex;
  justify-content: space-between;
  margin-top: 5vw;
  font-family: "Inter", sans-serif;
}

.brand-1 {
  width: 45vw;
}

.brand-name {
  font-size: 5vw;
  color: #007bff;
  font-weight: 900;
  margin: 4vw;
  margin-bottom: 4vw;
  margin-top: 11vw;
  text-align: center;
}

.brand-v {
  font-size: 6vw;
  color: black;
  background-color: orange;
  text-align: center;
  width: 30vw;
  font-weight: 900;
}

.brand-video {
  width: 45vw;
  margin: 4vw;
}

.brand-video div {
  width: 100%;
  height: 35vw;
  background-color: #d9d9d9;
  border-radius: 1vw;
}

/* OUR BENEFITS */

.benefits {
  font-family: "Inter", sans-serif;
  margin-left: 3%;
}

.benefits-h {
  font-weight: 900;
  text-align: center;
}

.benefits-container {
  display: flex;
  flex-wrap: wrap;
}

.benefits-container div {
  margin: 1vw 3.04vw;
  text-align: center;
}

.benefits-container div img {
  width: 12vw;
  border: 1px solid #007bff;
  border-radius: 50%;
  padding: 2vw;
  text-align: center;
  overflow: visible;
}

.benefits-container div div {
  width: 10vw;
  text-align: center;
  font-weight: 600;
  font-size: 1vw;
}

.review {
  font-family: "Inter", sans-serif;
  margin-bottom: 20vw;
}

.review-h {
  font-size: 2vw;
  font-weight: 900;
  text-align: center;
}

.footer {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 20vw;
  background-color: #d9d9d9;
}

.footer div {
  font-size: 6vw;
  text-align: center;
  vertical-align: bottom;
  line-height: 20vw;
}

.f-template-contact {
  width: 100%;
}

.f-template-contact img {
  width: 100%;
}

.contact {
  width: 100%;
}

.contact-sub {
  margin: 5vw;
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.25);
}

.contact-h {
  text-align: center;
  font-size: 4vw;
  font-weight: 700;
  padding-top: 5vw !important;
}

.contact-sub-h {
  text-align: center;
  font-size: 2vw;
  font-weight: 600;
}

.contact-input {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 5vw;
}

.contact-sub-input {
  margin: 1vw 5.5vw;
}

.contact-sub-input label {
  display: block;
  font-size: 1.4vw;
  font-weight: 700;
  margin-left: 0.3vw;
  margin-bottom: 0.5vw;
}

.contact-sub-input input {
  width: 33vw;
  padding: 0.8vw 1vw;
  border-radius: 0.5vw;
  border: none;
  outline: none;
  background-color: #d9d9d9;
  font-size: 1.1vw;
}

.contact-sub-input select {
  width: 33vw;
  padding: 0.8vw 1vw;
  border-radius: 0.5vw;
  border: none;
  outline: none;
  background-color: #d9d9d9;
  font-size: 1.1vw;
}

.contact-sub-input textarea {
  width: 77vw;
  padding: 0.8vw 1vw;
  border-radius: 0.5vw;
  border: none;
  outline: none;
  background-color: #d9d9d9;
  font-size: 1.1vw;
}
.brand-moto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.brand-moto h1 {
  color: #007bff;
  font-size: 3rem;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.brand-moto p {
  color: black;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-bottom: 100px;
}
.brand-moto-message {
  width: 85%;
}
.brand-moto video {
  border: 2px solid black;
}

.carousell {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid black;
  width: 70%;
  padding: 50px 50px;
  border-radius: 20px;
  align-items: center;
  justify-content: start;
  box-shadow: 20px 10px 20px 10px black;
  /* border: 1px solid black; */
  height: fit-content;
}
.carousell h1 {
  color: red;
  margin-bottom: 1rem;
}
.carousel-control-next,
.carousel-control-prev {
  color: red;
  background-color: rgba(128, 128, 128, 0.374);
  border-radius: 10px;
  margin: auto 0;
  width: fit-content;
  height: min-content;
}
.carousel-indicators {
  display: none;
}
.comment-body {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: black;
  font-size: 1.5rem;
}
.star-cl-red {
  color: #ff0000;
}

.contact-btn {
  text-align: center;
  padding: 2vw;
}

.contact-btn button {
  outline: none;
  border: none;
  border-radius: 0.5vw;
  color: white;
  background-color: #007bff;
  padding: 0.5vw 1vw;
  font-size: 2vw;
}

.footer2 {
  background-color: #f5f5f5;
  margin-top: 8vw;
}

.footer2-sub {
  display: flex;
  justify-content: space-around;
  font-size: 1.2vw;
  padding: 2vw;
}

.footer2-sub div {
  width: 20vw;
  /* border: 1px solid black; */
}

.footer2-h {
  font-size: 2vw;
  font-weight: 700;
  margin-bottom: 1.5vw;
}

.footer-img {
  width: 100%;
}

.footer-img img {
  width: 100%;
}

.footer-share {
  display: flex;
}

.footer2-sub-h {
  margin-top: 5vw;
}

.footer-share a {
  border: 1px solid black;
  border-radius: 50%;
  line-height: 0vw;
  padding: 0.5vw 0.7vw;
}

.footer-share div {
  text-align: center;
}

.footer2-sub div div a {
  text-decoration: none;
  color: black;
  font-size: 1.2vw;
  line-height: 2vw;
}

.footer-copyright {
  padding: 2vw 4vw;
  font-size: 1.2vw;
}
@media (max-width: 325) {
  nav ul li {
    margin: 1.5vw 2vw;
    font-size: 0.4rem;
  }

  @media (max-width: 768px) {
    nav .nav-login-btn {
      margin-top: 0.1vw;
    }

    nav ul li {
      margin: 1.5vw 2vw;
    }

    nav .nav-login-btn a {
      font-size: 1.6vw;
    }

    .features-content-2 {
      margin-bottom: 2vw;
    }

    .features-content-text {
      line-height: 1vw;
    }

    .popular-sub-div div a {
      display: block;
      line-height: 2.9vw !important;
    }

    .contact-sub-input label {
      font-size: 1.7vw;
    }

    .contact-sub-input input {
      font-size: 1.5vw;
    }

    .contact-sub-input select {
      font-size: 1.5vw;
    }

    .contact-sub-input textarea {
      font-size: 1.5vw;
    }

    .contact-btn button {
      padding: 0.8vw 1.5vw;
      font-size: 3vw;
    }
  }
  .brand-moto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }
  .brand-moto h1 {
    color: #007bff;
    font-size: 4rem;
    text-align: center;
    font-family: "Inter", sans-serif;
  }

  .brand-moto video {
    border: 2px solid black;
  }

  .flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

  .main-content {
    display: flex;
    width: 100%;
  }
  #whatsapp_icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 4rem;
    aspect-ratio: 1;
  }

  #whatsapp_icon:hover {
    cursor: pointer;
    width: 5rem;
  }
  .courses {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
  }
  .course {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .slide-wrapper {
    display: flex;
    width: 150%; /* Width will expand based on the number of slides */
  }

  .slide {
    flex: 0 0 20%; /* For 5 slides, use 20%; for 4 slides, use 25%, etc. */
    margin-right: 10px; /* Adjust the spacing between slides */
  }

  .course img {
    margin: 10px 10px;
    border: 3px solid black;
    border-radius: 30px;
    width: 12rem;
    aspect-ratio: 1;
  }
  .course a {
    font-family: "Abhaya Libre", serif;
    font-size: 2rem;
  }
  iframe {
    border-radius: 30px;
    width: 40%;
    aspect-ratio: 1;
  }
  hr {
    height: 2px;
    color: black;
    background-color: black;
    opacity: 1;
  }

  hr {
    height: 2px;
    color: black;
    background-color: black;
    opacity: 1;
  }
}
