.main-portal{
    background-color: #2a91ff;
}
button{
    color: white!important;
    background-color: #0b5ed7!important;
    border-color: #0b5ed7;
    float: right;

}
.top-img{
    display: flex;
    justify-content: end;
    gap: 25px;
    padding: 5px;
}
.top-img span{
    font-size: 12px;
}
.prg-title{
    font-weight: bolder;
}
.container {
    display: flex;
    width: 100%;
  }    
  .blank-column {
      margin-left: -33%;
      flex: 1; /* Blank column takes up remaining space */
}
  .content {
    flex: 2; /* Content column takes twice the space as the blank column */

  }
