.navbars {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px; /* Adjust the width as needed */
    height: 100vh; /* Full height of the viewport */
    background-color: #001E3D;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
  }
  .nav-item:hover {
    text-decoration: underline;
  }
.logo{
    margin-top: 0%;
    margin-bottom: 40%;
}
.logos{
  width:40px;
  margin-bottom: 8%;
}
.navItems p{
  margin-left: 25%;
  margin-top: -20%;
  font-size: 15px;
}

@media (max-width: 768px) {
  .navbars{
    width: 110px; 
  }
}
  
