
.exp h1{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: #007BFF;
    font-size: 48px;
    line-height: 56.63px;
    font-family: Abhaya Libre, serif;
}
@media (max-width: 768px) {
    .contact-btn{
        margin-left: -2%;
    }
    .exp h1{
        /* font-size: 38px; */
    }
    .student_p{
        font-size: 1.9rem;
        line-height: 20px;
        display: flex;
        justify-content: center;
    }
}

