.exp h1 {
  width: 100%;
  /* padding-right: 10%; */
  text-align: center;
  color: #007bff;
  /* font-size: 48px; */
  line-height: 25px;
  display: -webkit-box;
  /* -webkit-line-clamp: 2; */
  -webkit-box-orient: vertical;
}
@media (max-width: 768px) {
  .contact-btn {
    margin-left: -2%;
  }
  .exp h1 {
    /* font-size: 38px; */
  }
  .student_p {
    font-size: 1.9rem;
    line-height: 20px;
    display: flex;
    justify-content: center;
  }
}
.lightImg{
  /* width: 500px; */
  display: flex;
    /* display: inline-flex; */
    gap: 40px;
    /* padding: 78px; */
    overflow: scroll;
    float: left;
    justify-content: center;
}